<div class="middle_text ">
<h2> Edit User </h2>

<%= form_tag giver_path , method: :patch  do %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= label(:user, :first_name ) %><br />
    <%= text_field(:user, :first_name) %>
  </div>
  <div class="field">
    <%= label_tag :last_name %><br />
    <%= text_field(:user, :last_name) %>
  </div>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field(:user, :email) %>
  </div>
 <div class="field">
    <%= label_tag :admin %><br />
    <%= text_field(:user, :admin) %>
  </div>
  <div class="field">
    <%= label_tag :super_admin %><br />
    <%= text_field(:user, :super_admin) %>
  </div>
  <div class="actions">
    <%= submit_tag "Edit user" %>
  </div>
<% end %>


</div>