<div class="middle_text ">
<h2> Edit Recipient's Info </h2>

<%= form_for(resource, as: @receiver, url: "/receivers/#{@receiver.id}/edit", html: { method: :patch }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, value: @receiver.first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, value: @receiver.last_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, value: @receiver.email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.text_field :race, value: @receiver.race, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :departement%><br />
    <%= f.text_field :department, value: @receiver.department, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, value: @receiver.location, autofocus: true %>
  </div>
<div class="field">
    <%= f.label :giver_first_name %><br />
    <%= f.text_field :giver_first_name, value: @receiver.giver_first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :giver_last_name %><br />
    <%= f.text_field :giver_last_name, value: @receiver.giver_last_name, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Edit receiver" %>
  </div>
<% end %>


</div>