<div class="container middle_text ">
  <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2> Sign up </h2>
              <div class="well">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="form-group">
                      <%= devise_error_messages! %>
                      <%= f.label :first_name %><br />
                      <div class="col-xs-12">
                      <%= f.text_field :first_name, autofocus: true, required:true %>
                      </div>
                  </div>

                    <div class="form-group">
                      <%= f.label :last_name %><br />
                      <div class="col-xs-12">
                      <%= f.text_field :last_name, autofocus: true, required:true%>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :email %><br />
                        <div class="col-xs-12">
                        <%= f.email_field :email, autofocus: true %>
                        </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :password %>
                       <div class="col-xs-12">
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                       </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :password_confirmation %><br />
                      <div class="col-xs-12">
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                      </div>
                    </div>

                    <div class="field">
                      <%= f.hidden_field :admin, value: false %>
                    </div>
                    <div class="field">
                      <%= f.hidden_field :super_admin, value: false %>
                    </div>
                    <br />
                    <div class="form-group">
                      <button class="btn btn-info">Sign Up</button>
                    </div>
               <% end %>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>