<div class= "container-fluid container">
    <br />
        <% flash.each do |name, msg| %>
           <div class ="alert alert-<%= name  %> alert-
           dismissible"  role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <%= msg %></div>
        <% end %>

    <% if current_user.super_admin %>
    <h2 >Admins </h2>
        <table class='display table-bordered' id='admins'>
          <thead >
              <tr>
                  <th></th>
                  <th>first name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Edit User</th>
                  <th>Delete User</th>
              </tr>
          </thead>

          <tbody>

             <% User.all.each do |user| %>
             <tr>
                  <td ></td>
                  <td ><%= user.first_name.capitalize %></td>
                  <td ><%= user.last_name.capitalize %></td>
                  <td ><%= user.email.downcase%></td>
                  <td><%= link_to "Edit", "/admins/#{user.id}/edit"%>
                  <td ><%= link_to 'delete', "/admins/#{user.id}", method: :delete, data: {confirm: "Are you sure? You will not be able to undo it"}  %></td>
                  
             </tr> 
             <% end %>

          </tbody>
        
        </table>
        <% end %>

    <h2 >Recipients</h2>
<!--     <p> 
    <%= button_to 'delete last ten recipients', "receivers/ten", :class =>"btn btn-danger", method: :delete, data: {confirm: "Are you sure? You will not be able to undo it"} %>
    </p>
    <p>
    <%= button_to 'delete last twenty recipients', "receivers/twenty", :class =>"btn btn-danger",  method: :delete, data: {confirm: "Are you sure? You will not be able to undo it"} %>
    </p>  -->
        <%= link_to "Export recipients as spreadsheet", receivers_path(format: "xlsx") %>
        <div style="padding-left: -10px; border: 1px solid black;">
        <div class="table-responsive">

    <table class='display table table-striped table-bordered table-hover dt-responsive nowrap'  id='receivers' >
        <thead >
          <tr>
              <th></th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Department</th>
              <th>Cause</th>
              <th>Coin's number</th>
              <th>Location</th>
              <th>Giver's name</th>
              <th>Date</th>
              <% if current_user.admin || current_user.super_admin %>
              <th>Edit</th>
              <th>Delete</th>
              <% end %>
          </tr>
        </thead>
        <tbody>
            <% @receivers_locations_count.each_slice(5) do |receiver_slice| %>
                <div class="well">
                  <% receiver_slice.each do |location, count|  %>
                     <div class="col-md-2">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                               <strong><%= location.first(5) %>:  <%= count %></strong>
                           </div>
                                <% {"Responsive" => Receiver.where(location: location, race: "Responsive").count, "Accurate" => Receiver.where(location: location, race: "Accurate").count, "Courteous" => Receiver.where(location: location, race: "Courteous").count, "Efficient" => Receiver.where(location: location, race: "Efficient").count }.each do |race, count| %><br />
                                  <%= race %>:  <%= count %><br />
                                  <% end %>
                           </div>
                          </div>
                      <% end %>
                       <div class="col-md-2">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                              <strong> <%= "Total" %>:  <%= Receiver.all.count %></strong>
                            </div>
                            <% @receivers_races.each do |race, count| %> <br />
                              <b><%= race %>: <%= count %></b><br />
                             <% end %>
                        </div>
                      </div>
           <% end %>

        <% @receivers.each do |receiver| %>
           <tr>
                <td ></td>
                <td><%= receiver.first_name.capitalize %></td>
                <td><%= receiver.last_name.capitalize %></td>
                <td><%= receiver.email.downcase %></td>
                <td><%= receiver.department %></td>
                <td><%= receiver.race%></td>
                <td><%= receiver.coins%></td>
                <td><%= receiver.location%></td>
                <td><%= "#{receiver.giver_first_name.capitalize} #{receiver.giver_last_name.capitalize}"%></td>
                <td><%= receiver.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%b %e %Y, %l:%M %p") %></td>
                <% if current_user.admin || current_user.super_admin %>
                <td><%= link_to "Edit", "/receivers/#{receiver.id}/edit"%>

                <td><%= link_to 'delete', "receivers/#{receiver.id}", method: :delete, data: {confirm: "Are you sure? You will not be able to undo it"} %></td>
                <% end %>
           </tr> 

           <% end %>

        </tbody>
          
     </table>
     
</div>


