<!DOCTYPE html>
<html>

  <head>
    <title>CoinsApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
          </div>

         <div class="collapse navbar-collapse far_right" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                 <li><%= link_to "HOME", new_receiver_path %></li>
                 <li><%= link_to "Admin Page", home_path %></li>
                 <li><%= link_to " Update account", edit_user_registration_path %></li>
                 <li><%= link_to "Admin Logout", destroy_user_session_path, method: :delete %></li>
                 <% if current_user.super_admin %>
                    <li><%= link_to "Create Admin", "/admins/new" %></li>
                 <% end %>
                 <li> <%= link_to "Hi #{current_user.first_name}"%></li>
              <% else %>
                 <li><%= link_to "HOME", new_receiver_path %></li>
                 <li><%= link_to "Admin Login", new_user_session_path %></li>
              <% end %>
             </ul>

        </div>
    </nav>
    <br />
    
        <div class="container">
          <%= yield %> 

        </div>
    </div>

  </body>

</html>
